name: CI/CD Booking Kelas
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        working-directory: ./user-service
        run: npm install

      - name: Run Unit Tests
        working-directory: ./user-service
        run: npm run test

      - name: Build User Service
        working-directory: ./user-service
        run: npm run build

      - name: Build & Push Docker Image
        if: github.event_name == 'push'
        uses: docker/build-push-action@v5
        with:
          context: ./user-service
          push: false   # set true kalau mau push ke Docker Hub
          tags: yourdockerhubusername/user-service:latest
